h1 {
	font-size: 48px;

}

body {
	font-size: 16px;
	font-family: Helvetica;
	text-align: center;
}

ul {
	font-size: 12px;
	text-align: center;
	list-style: none;
	display: inline;
}

#slogan {
	font-style: italic;
}

#CONTACT {
	color: #480000;
	font-size: 16px
}

hr {
	width: 500px;
}