@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue.otf');
}

h1 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 68px;
	text-align: center;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 0.2em;
}

div {
	margin-right: auto;
	margin-left: auto;
	height: 50px;
	width: 1400px;
	background-color: #000;
	vertical-align: middle;
	line-height: 50px;
	padding-left: 15px;
}

li {
	font-family: 'Titillium Web', sans-serif;
	display: inline;
	text-align: center;
	margin: 70px;
	color: #fff;
}

body {
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	background-repeat: no-repeat;
}

#baldwin {
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 1415px;
}


#copyright {
	color: gray;
	font-size: 16px
}

hr {
	height: 1px;
	width: 500px;
}
