
@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue.otf');
}
body {
	font-size: 100%;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
h1 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 4.25em;
	text-align: center;
	color: #000;
	letter-spacing: 0.2em;
	line-height: 0.2em;
}
h2 {
	font-family: 'BebasNeue', sans-serif;
	font-size: 3em;
	color: grey;
	letter-spacing: .175em;
	padding: 0;
	margin: 0;
}
h3 {
	padding: 1em;
	margin: 0;
}
nav {
	background-color: #000;
	padding: 1em;
	text-align: center;
}
nav a {
	font-family: 'Titillium Web', sans-serif;
	padding: 2em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

}
nav a:hover {
	color: #ddc2d2;
}

img {
	width: 95%;
	padding: 1.8em 1.8em 0 1.8em;
}

.column1 {
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	width: 35%;
	margin: 1em;
	float: left;
}

.column2 {
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	width: 35%;
	margin: 1em;
	float: left;
	padding-top: 1em;
}
.about1 {
	width: 40%;
	float: left;
	margin-top: 4em;
	margin-left: 4em;
	margin-right: 4em;
	padding: 0;
}
.about2 {
	width: 40%;
	float: left;
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 6em;
	padding: 0;
}

p {
	padding: 1.5em;
}

.column3 {
	width: 20%;
	margin: 1em;
	float: left;
}

.column3 a {
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	text-align: center;
	display: block;
	text-decoration: none;
}

.column3 a:hover {
	color: #ddc2d2;
}

hr {
	clear: both;
	height: .1em;
	width: 50%;

}
footer {
	clear: both;
	color: #333;
	font-size: .9em;
	padding: 0 1em;
	margin: 0 auto;
}

@media screen and (max-width: 950px) {

h1 {
	font-size: 2.5em;
	letter-spacing: 0.15em;
	line-height: 0.15em;
}
nav {
	display: block;
	padding: .7em;
}
nav a {
	font-size: .9em;
	padding: 3em;
}

img {
	width: 100%;
	padding: 1em 0 0 0;
}
.column1 {
	font-size: .9em;
	width: 46%;
	margin: .7em;
}

.column2 {
	font-size: .9em;
	width: 46%;
	margin: .7em;
	padding-top: 2em;
}

p {
	padding: 1.5em;
	margin-bottom: 1em;
}

.column3 {
	float: none;
	font-size: .9em;
	width: 92%;
	display: inline;
}
.column3 a {
	background-color: #000;
	color: #fff;
	display: inline;
	padding: .9em;
}
#press {
	display: none;
}
#sitemap {
	display: none;
}
hr {
	display: none;
}
footer {
	font-size: .75em;	
}
}

@media screen and (max-width: 520px) {
    
body {
     font-size: 14px;
    }
nav a {
	display: block;
    padding: .1em;
}
nav a:hover {
	color: #000;
	background-color: #fff;
}

h1 {
	font-size: 2.5em;
	padding: .6em 0;
}
.column1 {
	width: auto;
	margin: .25em;
	float: none;
}

.column2 {
	display: none;
}

p {
	padding: .3em;
}

.column3 {
	width: auto;
	margin: .3em;
	float: none;
}
img {
	width: 100%;
	padding: 1em 0 0 0;
}
#press {
	display: none;
}
#sitemap {
	display: none;
}
hr {
	display: none;
}
footer {
	font-size: .75em;	
}
}

/*@media screen and (max-width: 840px) {
    
body {
     font-size: 14px;
    }
nav a {
	display: block;
    padding: .5em;
}
nav a:hover {
	color: #000;
	background-color: #fff;
}

h1 {
	font-size: 2.25em;
	padding: .8em 0;
}
.column1 {
	width: auto;
	margin: .5em;
	float: none;
}

.column2 {
	width: auto;
	margin: .5em;
	float: none;
}

p {
	padding: .5em;
}

.column3 {
	width: auto;
	margin: .5em;
	float: none;
}
img {
	width: 100%;
	padding: .8em;
	display: block;
}
}

/*@media screen and (max-width: 740px) {

h1 {
	font-size: 3.25em;
	letter-spacing: 0.15em;
	line-height: 0.15em;
}
nav {
	display: block;
}
nav a {
	font-size: .9em;
	padding: 3em;
}
img {
	width: 100%;
	padding: 1em 0 0 0;
}
.column1 {
	font-size: .9em;
	width: auto;
	margin: .7em;
}

.column2 {
	font-size: .9em;
	width: auto;
	margin: .7em;
	padding-top: 2em;
}

p {
	padding: 1.5em;
	margin-bottom: 1em;
}

.column3 {
	float: none;
	font-size: .9em;
	width: 92%;
	display: inline;
}
.column3 a {
	background-color: #000;
	color: #fff;
	display: inline;
	padding: .9em;
}
#press {
	display: none;
}
#sitemap {
	display: none;
}
hr {
	display: none;
}
footer {
	font-size: .75em;	
}
}

@media screen and (max-width: 520px) {

h1 {
	font-size: 2.5em;
	letter-spacing: 0.12em;
	line-height: 0.12em;
}
nav a {
	font-size: .75em;
	padding: 2em;
}
.column1 {
	font-size: .8em;
}
.column2 {
	font-size: .8em;
}
p {
	padding: 1em;	
}
.column3 {
	font-size: .8em;
}

}*/




